{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>


{% block content %}
<html>
    <head>
        <title> {{title}} </title>
    </head>

    <body>
        <div id = "container">
                {% csrf_token %}
                {% for field in form %}
                <div name = "user">{{ field }}</div>
                {% endfor %}
                <div class = "buttonBox"> <button type = "submit" class = "loginButton">Login</button></div>

                {% if log_error %}
                <div class="col"><div class="alert alert-danger"><b>Error!</b> {{ log_error }}</div></div>
                {% endif %}

            </div>
        </div>
    </body>
</html>
{% endblock %}